<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

  <div class="card text-xs-center <%= task.room %>">
    <div class="card-header">
      <% if task.user == current_user %>
          <%= "You on #{task.deadline}" %>
        <% elsif task.user.present? %>
          <%= "#{task.user.name} to do on #{task.deadline}" %>
        <% else %>
          <%= task.deadline %>
        <% end %>

      <h5 class="card-title">
        <%= task.name %>
        <span class="task-points rounded-circle">
          <%= task.points %>
        </span>
      </h5>
    </div>

    <div class="card-block task-action rounded-circle">
      <img src="<%= image_path( 'actions/' + task.action + '.svg') %>"">
    </div>
    
    <div class="card-footer">
      <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, 
                edit_task_path(id: task.id), 
                class: "btn btn-primary btn-md" %>

      <% if task.status == 'claimed' && task.user == current_user %>

        <%= link_to "<i class='fa fa-check'></i> Done".html_safe, 
                  task_done_path(task_id: task.id), method: :post, 
                  class: "btn btn-success btn-md" %>

      <% elsif task.status == 'claimable' %>

        <%= link_to "<i class='fa fa-hand-o-up'></i> Claim".html_safe, 
                  task_claim_path(task_id: task.id), method: :post, 
                  class: "btn btn-warning btn-md" %>
      <% end %>
    </div>
  </div>
</div>