<!DOCTYPE html>
<html>
  <head>
    <title>Clean2win</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-full navbar-light">
        <a class="navbar-brand float-xs-left" href="/tasks">
          <span class="brand-logo">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <span class="hidden-sm-down brand-text">Clean 2 Win</span>
          </span>
        </a>
        <% if user_signed_in? %>
          <span class="navbar-text">
            <%= current_user.name %>
            <span class="points-badge">
              <small><%= current_user.points %></small>
            </span>
          </span>
        <% end %>
        <button class="navbar-toggler hidden-md-up float-xs-right" 
                type="button" data-toggle="collapse" data-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" 
                aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-toggleable-sm float-xs-right" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to "Tasks", tasks_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "New task", new_task_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Invite", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>  

    <div class="container" id="main-container">
      <%= yield %>
    </div>

  </body>
</html>
